body {
    margin: 0;
}

#container {
    height: 95vh;
    width: 95vw;
    overflow: hidden;
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

#screen {
    border: 10px solid #CCC;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    display: inline-block;
    vertical-align: top;
    max-height: 80vh;
    max-width: 75vw;
}

#controller {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
}

#controller button {
    font-size: 2.3vh;
    font-weight: 700;
    padding: 6px;
    margin-top: 1vw;
    border: 2px solid #CCC;
    border-radius: 35px;
    outline: none;
}